<template>
  <div class="vue-tempalte">
    <fotter_dash></fotter_dash>

    <div class="container"><br /><br /></div>
    <h2><div id="demotext">Bienvenido</div></h2>

    <h3 id="date" class="text-white">
      Total de Leche: {{ amountMilk }} Litros
    </h3>
    <h3 id="date" type="number" class="text-white">
      Total de Animales: {{ amountAnimals }} Vacas
    </h3>

    <LineChart></LineChart>
  </div>
</template>

<script>
import fotter_dash from "../components/fotter_home.vue";
import LineChart from "../components/line-chart.vue";
import axios from "axios";

export default {
  name: "dashboard",
  data() {
    return {
      amountMilk: "",
      amountAnimals: "",
    };
  },

  components: {
    fotter_dash,
    LineChart,
  },

  mounted: function () {
    let direcction = "http://35.184.148.218:3000/totalMilk";
    axios.get(direcction).then((datos) => {
      this.amountMilk  = datos.data[0].cantidad;
    });

    let direcction2 = "http://35.184.148.218:3000/TotalAnimals";
    axios.get(direcction2).then((datos) => {
      this.amountAnimals = datos.data[0].TotalAnimals;
    
    });
  },
};
</script>


<style>
#demotext {
  color: #42b983;
  background: #22c473;
  text-shadow: 1px 20px 5px;
  text-align: center;
  color: #ffffff;
  background: #22c473;
}

#date {
  color: #42b983;
  background: #22c473;
  text-align: left;
  color: #ffffff;
  background: #22c473;
}
</style>

