<template>
  <div class="vue-tempalte">
    <fotter_dash></fotter_dash>

    <div class="container">
      <br /><br />
      <h2><div id="demotext">Listado de Animales&nbsp;</div></h2>

      <br /><br />

      <button class="btn btn-success" v-on:click="nuevo()">Nuevo Animal</button>
      <button class="btn btn-danger" v-on:click="GenerePDF()">
      &nbsp;  Descargar Listado
      </button>

      <br /><br />

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-white">Nombre</th>
            <th scope="col" class="text-white">Nacimiento</th>
            <th scope="col" class="text-white">Tipo de Raza</th>
            <th scope="col" class="text-white">Grupo de Producción</th>
            <th scope="col" class="text-white">Tipo de Comida</th>
            <th scope="col" class="text-white">Cantidad de comida</th>
          </tr>
        </thead>
        <tbody>
          <tr
            id="nombreA"
            v-for="vacuno in ListaVacuno"
            :key="vacuno.Id_Animal"
            v-on:click="editar(vacuno.Id_Animal)"
          >
            <td>{{ vacuno.Name_Animal }}</td>
            <td>{{ vacuno.Birthdate }}</td>
            <td>{{ vacuno.Name_Breed }}</td>
            <td>{{ vacuno.Name_AnimalG }}</td>
            <td>{{ vacuno.Name_FeedType }}</td>
            <td>{{ vacuno.Amount_RFeed }} Litros</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>


<script>
import fotter_dash from "../components/fotter_listAnimals.vue";
import axios from "axios";
import jsPDF from "jspdf";
import "jspdf-autotable";
export default {
  name: "ListAnimals",

  data() {
    return {
      ListaVacuno: null,
    };
  },

  components: {
    fotter_dash,
  },

  methods: {
    GenerePDF() {
      const head = [["Nombre", "Fecha de nacimiento", "Raza", "Grupo Producción", "Cantidad"]];
      const body = this.ListaVacuno.map((vacuno) => {
        const { Name_Animal, Birthdate, Name_Breed, Name_AnimalG, Amount_RFeed } = vacuno;
        return [Name_Animal, Birthdate, Name_Breed, Name_AnimalG, Amount_RFeed];
      });
      const doc = new jsPDF("p", "pt", "a2");
      doc.autoTable({ head, body });
      doc.save("listado_animals.pdf");
    },

    editar(id) {
      this.$router.push("UpdateAnimals/" + id);
    },
    nuevo() {
      this.$router.push("/RegisterAnimals");
    },
  },

  mounted: function () {
    let direcction = "http://35.184.148.218:3000/animals";

    axios.get(direcction).then((data) => {
      this.ListaVacuno = data.data;
  
    });
  },
};
</script>


<style>
#demotext {
  color: #42b983;
  background: #22c473;
  text-shadow: 1px 20px 5px;
  text-align: center;
  color: #ffffff;
  background: #22c473;
}
</style>

