<template>
  <div class="vue-tempalte">
    <fotter> </fotter>
    <div class="vertical-center">
      <div class="inner-block">
        <form v-on:submit.prevent="login">
          <img
            img
            src="https://img.icons8.com/pastel-glyph/64/000000/cow-breed.png"
            id="icon"
            alt="User Icon"
          />

          <h3>Inicio de sesión</h3>

          <div class="form-group">
            <label>Usuario</label>
            <input
              type="Text"
              id="username"
              class="form-control form-control-lg"
              v-model="username"
            />
          </div>

          <div class="form-group">
            <label>Contraseña</label>
            <input
              type="password"
              id="password"
              class="form-control form-control-lg"
              v-model="password"
            />
          </div>

          <button type="submit" class="btn btn-dark btn-lg btn-block">
            Entrar
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import fotter from "../components/fotter.vue";
import axios from "axios";


export default {
  name: "Login",
  components: {
    fotter,
  },

  data: function () {
    return {
      username: "",
      password: "",
      error: false,
      error_msg: "",
    };
  },

  methods: {
    login() {
      let json = {
        username: this.username,
        password: this.password,
      };

      axios.post("http://35.184.148.218:3000/login", json)
      .then((data) => {
          if(data.data.status == "ok"){
            var token = data.data.token;
          localStorage.setItem("token", token);

          this.$router.push('Dashboard');

          }else{
            this.error = true;
          }


      });
    },
  },
};
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  text-align: center;
  color: #111111;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #000000;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
