<template>
  <div class="vue-tempalte">
    <fotter_dash></fotter_dash>
    <div class="container">
      <br /><br />
      <h2><div id="demotext">Producción</div></h2>

      <br /><br />
      <button class="btn btn-success" v-on:click="nuevo()">
        Ingresar Produccion
      </button>
      <button class="btn btn-danger" v-on:click="GenerePDF()">
        Descargar Listado
      </button>

      <br /><br />

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-white">Nombre</th>
            <th scope="col" class="text-white">Fecha</th>
            <th scope="col" class="text-white">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="milk in ListaMilk"
            :key="milk.Id_ProductionMilk"
            v-on:click="editar(milk.Id_ProductionMilk)"
          >
            <td>{{ milk.Name_Animal }}</td>
            <td>{{ milk.Date_ProductionMilk }}</td>
            <td>{{ milk.Amount_Milk }}&nbsp;Litros</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>


<script>
import fotter_dash from "../components/fotter_listAnimals.vue";
import axios from "axios";
import jsPDF from "jspdf";
import "jspdf-autotable";

export default {
  name: "newProduction",
  data() {
    return {
      ListaMilk: null,
    };
  },

  components: {
    fotter_dash,
  },

  methods: {
    GenerePDF() {
      const head = [["Nombre", "Fecha", "Cantidad (Litros)"]];
      const body = this.ListaMilk.map((vacuno) => {
        const { Name_Animal, Date_ProductionMilk, Amount_Milk } = vacuno;
        return [Name_Animal, Date_ProductionMilk, Amount_Milk];
      });
      const doc = new jsPDF("p", "pt", "a2");
      doc.autoTable({ head, body });
      doc.save("listado_Milk.pdf");
    },
    editar(id) {
      this.$router.push("UpdateMilk/" + id);
    },
    nuevo() {
      this.$router.push("/RegisterAmountmilk");
    },
  },

  mounted: function () {
    let direcction = "http://35.184.148.218:3000/setmilk";

    axios.get(direcction).then((data) => {
      this.ListaMilk = data.data;
    });
  },
};
</script>


<style>
#demotext {
  color: #42b983;
  background: #22c473;
  text-shadow: 1px 20px 5px;
  text-align: center;
  color: #ffffff;
  background: #22c473;
}
</style>

