<template>
  <div class="vue-tempalte">
    <fotter_dash> </fotter_dash>
    <div class="vertical-center">
      <div class="inner-block">
        <form v-on:submit.prevent="RegisterAnimals">
          <h3>Registrar Animal</h3>
          <div class="form-group">
            <label>Nombre del Animal</label>
            <input
              type="Text"
              id="AnimalName"
              class="form-control form-control-lg"
              v-model="AnimalName"
            />
          </div>
          <br />
          <div>
            <label>Fecha de Nacimiento</label>
            <b-form-datepicker
              class="mb-2"
              v-model="Birthdate"
            ></b-form-datepicker>
          </div>
          <br />
          <div class="form-group">
            <label>Tipo de Raza</label>
            <select class="form-select form-select-sm" v-model="Breen">
              <option value="1">Simmental</option>
              <option value="2">Holstein</option>
              <option value="3">Cabú</option>
            </select>
          </div>
          <br />

          <div class="form-group">
            <label>Grupo de producción</label>
            <select class="form-select form-select-sm" v-model="AnimalsG">
              <option value="1">Producción Alta</option>
              <option value="2">Producción Media</option>
              <option value="3">Producción Baja</option>
            </select>
          </div>
          <br />

          <button type="submit" class="btn btn-dark btn-lg btn-block">
            Registrar
          </button>
          <br />
          <br />
        </form>
        <button
          type="submit"
          class="btn-info btn-lg btn-block"
          v-on:click="salir()"
        >
          Salir
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import fotter_dash from "../components/fotter_home.vue";
import axios from "axios";

export default {
  name: "RegisterAnimals",
  components: {
    fotter_dash,
  },

  data: function () {
    return {
      id: 0,
      AnimalName: "",
      Birthdate: "",
      Breen: "",
      AnimalsG: "",
    };
  },

  methods: {
    salir() {
      this.$router.push("/ListAnimals");
    },

    RegisterAnimals() {
      let json = {
        _id: "0",
        _NameAnimals: this.AnimalName,
        _Birthdate: this.Birthdate,
        _Breed: this.Breen,
        _AnimalsG: this.AnimalsG,
      };

      axios.post("http://35.184.148.218:3000/insertAnimals", json).then(() => {
        this.$router.push("/ListAnimals");
      });
    },
  },
};
</script>
