<template>
  <div class="vue-tempalte">
    <fotter_dash> </fotter_dash>
    <div class="vertical-center">
      <div class="inner-block">
        <form v-on:submit.prevent="Registermilk">
          <h3>Ingreso de producción</h3>
          <br />
          <br />
          <div class="form-group">
            <label>Cantidad de leche</label>
            <input
            b-form-input type="number" step="0.01" min="0.00" max="100"
              id="Cantidad"
              class="form-control form-control-lg"
              v-model="AmounMilk"
            />
            Litros
          </div>
          <br />
          <br />
          <div>
            <label>Fecha de producción</label>
            <b-form-datepicker
              id="DateMilk"
              class="mb-2"
              v-model="DateMilk"
            ></b-form-datepicker>
          </div>
          <br />
          <br />
          <div class="form-group">
            <label>Nombre de Vaca&nbsp;&nbsp;&nbsp;&nbsp;</label>

            <b-form-select
              v-model="animalName"
              :options="selectOptions"
            ></b-form-select>
          </div>
          <br />
          <br />
          <button type="submit" class="btn btn-dark btn-lg btn-block">
            Guardar
          </button>
          <br />
          <br />
        </form>

        <button
          type="submit"
          class="btn-info btn-lg btn-block"
          v-on:click="salir()"
        >
          Salir
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import fotter_dash from "../components/fotter_home.vue";
import axios from "axios";

export default {
  name: "RAmountmilk",
  components: {
    fotter_dash,
  },

  data: function () {
    return {
      id: 0,
      AnimalMilk: "",
      selectValue: "gg",
      DateMilk: "",
      AmounMilk: "",
      animalName: "",
      selectOptions: [],
    };
  },

  mounted: function () {
    axios.get("http://35.184.148.218:3000/animals").then((datos) => {
      this.animals = datos.data;
      this.selectOptions = datos.data.map((animal) => ({
        value: animal.Id_Animal,
        text: animal.Name_Animal,
      }));
    });
  },

  methods: {
    salir() {
      this.$router.push("/newProduction");
    },

    Registermilk() {
      let json = {
        _id: 0,
        _Amount_Milk: this.AmounMilk,
        _Date_ProductionMilk: this.DateMilk,
        _Id_Animal: this.animalName,
      };

      axios
        .post("http://35.184.148.218:3000/insertmilk", json)
        .then((data) => {
          console.info(data);
          this.makeToast("Hecho", "Paciente creado", "success");
          this.$router.push("/newProduction");
        })
        .catch((e) => {
          console.log(e);
          this.makeToast("Error", "Error al guardar", "error");
        });
    },

    makeToast(titulo, texto, tipo) {
      this.toastCount++;
      this.$bvToast.toast(texto, {
        title: titulo,
        variant: tipo,
        autoHideDelay: 10000,
        appendToast: true,
        solid: true,
      });
    },
  },
};
</script>
