<template>
  <div class="vue-tempalte">
    <fotter> </fotter>
    <div class="vertical-center">
      <div class="inner-block">
        <form v-on:submit.prevent="login">


          <h3>Registrarse</h3>
          <div class="form-group">
            <label>Nombre Completo</label>
            <input
              type="Text"
              id="fullname"
              class="form-control form-control-lg"
              v-model="fullname"
            />
          </div>

          <div class="form-group">
            <label>Nombre de Usuario</label>
            <input
              type="Text"
              id="username"
              class="form-control form-control-lg"
              v-model="username"
            />
          </div>

          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              id="password"
              class="form-control form-control-lg"
              v-model="password"
            />
          </div>
          
          <button type="submit" class="btn btn-dark btn-lg btn-block">
           Registrarse
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import fotter from "../components/fotter.vue";
import axios from "axios";

export default {
  name: "Signup",
  components: {
    fotter,
  },

  data: function () {
    return {
      fullname: "",
      username: "",
      password: "",
      error: false,
      error_msg: "",
    };
  },

  methods: {
    login() {
      let json = {
        fullname: this.fullname,
        username: this.username,
        password: this.password,
      };

      axios.post("http://35.184.148.218:3000/register", json).then(() => {
           this.$router.push('/');
      });
    },
  },
};
</script>
