<template>
  <div class="vue-tempalte">
    <fotter_dash> </fotter_dash>
    <div class="vertical-center">
      <div class="inner-block">
        <form v-on:submit.prevent="UpdateMilk">
          <h3>Ficha de producción</h3>
          <br />
          <div class="form-group">
            <h3>{{ form.AnimalName }} &nbsp;&nbsp;&nbsp;&nbsp;</h3>
          </div>
          <div class="form-group">
            <label>Cantidad de leche</label>
            <input
              b-form-input type="number" step="0.01" min="0.00" max="100"
              id="Cantidad"
              class="form-control form-control-lg"
              v-model="form.AmounMilk"
            />
          </div>
          <br />
          <div class="form-group">
            <label>Fecha de producción</label>
            <input
              type="Text"
              id="DateMilk"
              class="form-control form-control-lg"
              v-model="form.DateMilk"
            />
          </div>
          <br />
          <button type="submit" class="btn btn-success btn-lg btn-block">
            Guardar
          </button>
          <br />

          <br />
        </form>

        <button
          type="submit"
          class="btn-danger btn-lg btn-block"
          v-on:click="eliminar()"
        >
          Eliminar
        </button>
        <br />
        <br />
        <button
          type="submit"
          class="btn-info btn-lg btn-block"
          v-on:click="salir()"
        >
          Salir
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import fotter_dash from "../components/fotter_home.vue";
import axios from "axios";

export default {
  name: "UpdateMilk",
  components: {
    fotter_dash,
  },

  data: function () {
    return {
      form: {
        Id_ProductionMilk: "",
        AnimalName: "",
        AmounMilk: "",
        DateMilk: "",
        Id_Animal: "",
      },
    };
  },

  mounted: function () {
    this.form.Id_ProductionMilk = this.$route.params.id;
    axios
      .get("http://35.184.148.218:3000/milk/" + this.form.Id_ProductionMilk)
      .then((datos) => {
        this.form.AnimalName = datos.data[0].Name_Animal;
        this.form.AmounMilk = datos.data[0].Amount_Milk;
        this.form.DateMilk = datos.data[0].Date_Milk;
        this.form.Id_Animal = datos.data[0].Id_Animal;
      });
  },

  methods: {
    salir() {
      this.$router.push("/newProduction");
    },
    eliminar() {
      let id = this.form.Id_ProductionMilk;
      axios.get("http://35.184.148.218:3000/deleteMilk/" + id).then(() => {});
      this.$router.push("/newProduction");
    },

    UpdateMilk() {
      let id = this.form.Id_ProductionMilk;

      let json = {
        _id: this.form.Id_ProductionMilk,
        _Amount_Milk: this.form.AmounMilk,
        _Date_ProductionMilk: this.form.DateMilk,
        _Id_Animal: this.form.Id_Animal,
      };
      axios.put("http://35.184.148.218:3000/UpdateMilk/" + id, json).then(() => {
        this.$router.push("/newProduction");
      });
    },
  },
};
</script>

