<template>
  <div class="vue-tempalte">
    <fotter_dash> </fotter_dash>
    <div class="vertical-center">
      <div class="inner-block">
        <form v-on:submit.prevent="RegisterAnimals">
          <h3>Ficha de Animal</h3>
          <div class="form-group">
            <label>Nombre del Animal</label>
            <input
              type="Text"
              id="AnimalName"
              class="form-control form-control-lg"
              v-model="form.AnimalName"
            />
          </div>
          <br />
          <div class="form-group">
            <label>Fecha de Nacimiento</label>
            <input
              type="Text"
              id="Birthdate"
              class="form-control form-control-lg"
              v-model="form.Birthdate"
            />
          </div>
          <br />
          <div class="form-group">
            <label>Tipo de Raza</label>
            <select class="form-select form-select-sm" v-model="form.Breen">
              <option value="1">Simmental</option>
              <option value="2">Holstein</option>
              <option value="3">Cabú</option>
            </select>
          </div>
          <br />

          <div class="form-group">
            <label>Grupo de producción</label>
            <select class="form-select form-select-sm" v-model="form.AnimalsG">
              <option value="1">Producción Alta</option>
              <option value="2">Producción Media</option>
              <option value="3">Producción Baja</option>
            </select>
          </div>
          <br />

          <button type="submit" class="btn btn-success btn-lg btn-block">
            Guardar
          </button>
          <br />
          <br />
        </form>
        <button
          type="submit"
          class="btn-danger btn-lg btn-block"
          v-on:click="eliminar()"
        >
          Eliminar
        </button>
        <br />
        <br />
        <button
          type="submit"
          class="btn-info btn-lg btn-block"
          v-on:click="salir()"
        >
          Salir
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import fotter_dash from "../components/fotter_home.vue";
import axios from "axios";

export default {
  name: "UpdateAnimals",
  components: {
    fotter_dash,
  },

  data: function () {
    return {
      form: {
        id_Animals: "",
        AnimalName: "",
        Birthdate: "",
        Breen: "",
        AnimalsG: "",
      },
    };
  },

  mounted: function () {
    this.form.id_Animals = this.$route.params.id;
    axios
      .get("http://35.184.148.218:3000/" + this.form.id_Animals)
      .then((datos) => {
        this.form.AnimalName = datos.data[0].Name_Animal;
        this.form.Birthdate = datos.data[0].Birthdate;
        this.form.Breen = datos.data[0].Id_Breed;
        this.form.AnimalsG = datos.data[0].Id_AnimalsG;
       
      });
       
  },

  methods: {
    salir() {
      this.$router.push("/ListAnimals");
    },
    eliminar() {
      let id = this.form.id_Animals;
      axios.get("http://35.184.148.218:3000/DeleteAnimals/" + id).then(() => {});
      this.$router.push("/ListAnimals");
    },

    RegisterAnimals() {
      let id = this.form.id_Animals;

      let json = {
        _id: this.form.id_Animals,
        _NameAnimals: this.form.AnimalName,
        _Birthdate: this.form.Birthdate,
        _Breed: this.form.Breen,
        _AnimalsG: this.form.AnimalsG,
      };
      axios
        .put("http://35.184.148.218:3000/UpdateAnimal" + id, json)
        .then(() => {
          this.$router.push("/ListAnimals");
        });
    },
  },
};
</script>

