<template>
  <nav class="navbar bg-white">
    <a>
      <img
        img
        src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-milk-farming-and-agriculture-wanicon-lineal-wanicon.png"
        id="icon"
        alt="User Icon"
      />
      Sistema de Contol de producción
    </a>
    <ul class="nav flex-row float-right">
      <router-link class="nav-link pr-3 text-dark" to="/Dashboard"
        >Inicio</router-link
      >

      <router-link class="nav-link pr-3 text-dark" to="/newProduction"
        >Consultar Producción</router-link
      >
        <router-link class="nav-link pr-3 text-dark" to="/ListAnimals"
        >Lista de Animales</router-link
      >
    </ul>
  </nav>
</template>



<style  scoped>
footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: blanchedalmond;
}
</style>